{% extends 'base.html.twig' %}

{% block title %}Snowtricks!{% endblock %}

{%  form_theme formFigure 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% set favorite_img = figure.media|filter(img => (img.favorite is same as(true)) and (img.type is same as('photo'))) %}
    {% set medias_img = figure.media|filter(img => (img.favorite is same as(false)) and (img.type is same as('photo'))) %}
    {% set medias_vid = figure.media|filter(img => (img.favorite is same as(false)) and (img.type is same as('video'))) %}

    <div class="row justify-content-center">

        <article class="col-12 col-sm-10 col-md-10 col-lg-8 col-xl-6 my-4 p-0" id="figure">
            <div class="position-relative">
                {% for img in favorite_img %}
                    <img src="/uploads/{{ img.link }}" alt="favorite_img" class="img-fluid">
                    {% if app.user %}
                        <div class="position-absolute" id="figure_btn">
                            <a class="btn btn-white py-0 px-1" href='{{ path('media_remove_favorite', {'media' : img.id}) }}'>
                                <i class='bi bi-trash'></i>
                            </a>
                        </div>
                    {% endif %}
                    <div class="mask flex-center position-absolute left-0 right-0" id="figure_title">
                        <h3 class="text-center">{{ figure.name }}</h3>
                    </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center px-0 py-2 m-0" id="show_media_btn">
                <button class="btn btn-primary" onclick="showMedias()">See Medias</button>
            </div>


            <div class="row justify-content-center px-0 py-2 m-0" id="medias">
                <div class="col-12 col-md-6 py-2">
                    <div id="carouselImgFigure" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">
                            {% for img in medias_img %}
                                    <div class="carousel-item {% if loop.first  %}active{% endif %}">
                                        <img src="/uploads/{{ img.link }}" alt="figure_img" class="d-block w-100">
                                        <div class="text-center">
                                            <a class="btn btn-white py-0 px-1" href='{{ path('media_switch_favorite', {'media' : img.id}) }}'>
                                                <i class='bi bi-star'></i>
                                            </a>
                                            <a class="btn btn-white py-0 px-1" data-toggle="modal" data-target="#modalEditMedia">
                                                <i class='bi bi-pencil'></i>
                                            </a>
                                            <a class="btn btn-white py-0 px-1" href='{{ path('media_delete', {'media' : img.id}) }}'>
                                                <i class='bi bi-trash'></i>
                                            </a>
                                        </div>
                                        {% set form_image = formUpdateMedia.createView %}
                                        <div class="modal fade" id="modalEditMedia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Modifier Image</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    {{ form_start(form_image, { "action":path('media_update', {'media' : img.id}) } ) }}
                                                    <div class="row modal-body justify-content-center mt-3">
                                                        <div class="col-10 text-center">
                                                            {{ form_widget(form_image.image,
                                                                {"label":false, "attr":{"class":"col-12 col-md-12 text-center my-0"} }) }}
                                                            {{ form_widget(form_image.video,
                                                                {"label":false, "attr":{"class":"d-none"} }) }}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                        <button type="submit" class="btn btn-primary">Modifier</button>
                                                    </div>
                                                    {{ form_end(form_image) }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselImgFigure" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselImgFigure" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 py-2">
                    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">
                            {% for video in medias_vid %}
                                <div class="carousel-item embed-responsive embed-responsive-16by9 {% if loop.first  %}active{% endif %}">
                                    <iframe class="embed-responsive-item" src="{{ video.link }}" id="video"></iframe>
                                    <div class="text-center">
                                        <a class="btn btn-white py-0 px-1" data-toggle="modal" data-target="#modalEditMediaVideo">
                                            <i class='bi bi-pencil'></i>
                                        </a>
                                        <a class="btn btn-white py-0 px-1" href='{{ path('media_delete', {'media' : video.id}) }}'>
                                            <i class='bi bi-trash'></i>
                                        </a>
                                    </div>

                                    {% set form_video = formUpdateMedia.createView %}
                                    <div class="modal fade" id="modalEditMediaVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Modifier video</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    {{ form_start(form_video, { "action":path('media_update', {'media' : video.id}) } ) }}
                                                    <div class="row modal-body justify-content-center mt-3">
                                                        <div class="col-10 text-center">
                                                            {{ form_widget(form_video.video,
                                                                {"label":false, "attr":{"class":"col-12 col-md-12 text-center my-0"}, "value":video.link }) }}
                                                            {{ form_widget(form_video.image,
                                                                {"label":false, "attr":{"class":"d-none"} }) }}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                        <button type="submit" class="btn btn-primary">Modifier</button>
                                                    </div>
                                                    {{ form_end(form_video) }}
                                                </div>
                                            </div>
                                        </div>
                                </div>
                          {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center px-0 py-2 m-0" id="add_media">
                <div class="col-12 col-md-6 py-2 text-center">
                    <a class="btn border border-info py-2 px-2" data-toggle="modal" data-target="#modalAddMedia">
                        <i class='bi bi-plus-square'> Ajouter des photos/videos</i>
                    </a>
                </div>
            </div>

            {{ form_start(formFigure) }}

            <div class="row justify-content-center mt-3">
                <div class="col-10 text-center">
                    {{ form_label(formFigure.description, "Description", {"label_attr":{"class":"mb-0"}}) }}
                </div>
                <div class="col-10 text-center">
                    {{ form_widget(formFigure.description,
                        {"label":false, "attr":{"class":"col-12 col-md-12 text-center my-0 registration_input h-10", "rows":"5"}}) }}
                </div>
            </div>

            <div class="row justify-content-center mt-3">
                <div class="col-12 text-center">
                    {{ form_label(formFigure.type, "Type", {"label_attr":{"class":"mb-0"}}) }}
                </div>
                <div class="col-10 text-center">
                    {{ form_widget(formFigure.type,
                        {"label":false, "attr":{"class":"col-12 text-center my-0 registration_input"}}) }}
                </div>
            </div>

            <div class="row justify-content-end mt-3 mx-0 p-2">
                <a class="btn btn-danger p-2 m-2" href="{{ path("figure_delete", {"id": figure.id }) }}">Supprimer</a>
                <button type="submit" class="btn btn-primary p-2 m-2">Modifier</button>
            </div>

            {{ form_end(formFigure) }}

        </article>
    </div>
    {% include 'modal/add_media.html.twig' %}
{% endblock %}
