{% block body %}
    <div id="comments">
        <h3> {{ figure.comments | length }} Commentaires</h3>
        {% for comment in figure.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.author.username }}
                    <small>{{ comment.createdAt | date('d-m-Y') }}</small>
                </div>
                <div class="col-9">
                    {{ comment.content }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_start(formComment) }}
            {{ form_widget(formComment) }}
            <button type="submit" class="btn btn-success">Commenter</button>
            {{ form_end(formComment) }}
        </div>
    </div>
{% endblock %}
