{% extends 'base.html.twig' %}

{% block body %}
<div class="row justify-content-center p-2">
    <h2 class="col-12 col-md-10 text-center my-4">Registration</h2>

    {{ form_start(formUserRegistration, {"attr":{"class":"col-12 col-md-10 col-lg-5 text-center border border-primary"}} )  }}

    <div class="row justify-content-center mt-3">
        <div class="col-12 text-center">
                {{ form_label(formUserRegistration.username, "Username", {"label_attr":{"class":"mb-0"}}) }}
        </div>
        <div class="col-12 text-center">
            {{ form_row(formUserRegistration.username,
                {"label":false, "attr":{"class":"col-12 col-md-6 text-center my-0 registration_input"}}) }}
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-12 text-center">
            {{ form_label(formUserRegistration.email, "Email", {"label_attr":{"class":"mb-0"}}) }}
        </div>
        <div class="col-12 text-center">
            {{ form_row(formUserRegistration.email,
                {"label":false, "attr":{"class":"col-12 col-md-6 text-center my-0 registration_input"}}) }}
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-12 text-center">
            {{ form_label(formUserRegistration.password, "Password", {"label_attr":{"class":"mb-0"}}) }}
        </div>
        <div class="col-12 text-center">
            {{ form_row(formUserRegistration.password,
                {"label":false, "attr":{"class":"col-12 col-md-6 text-center my-0 registration_input"}}) }}
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-12 text-center">
            {{ form_label(formUserRegistration.confirm_password, "Password confirmation", {"label_attr":{"class":"mb-0"}}) }}
        </div>
        <div class="col-12 text-center">
            {{ form_row(formUserRegistration.confirm_password,
                {"label":false, "attr":{ "class":"col-12 col-md-6 text-center my-0 registration_input"}}) }}
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <button type="submit" class="btn btn-info col-10 col-sm-6 col-md-3 col-lg-5">Create an account</button>
    </div>

    <div class="row justify-content-center mt-3 mb-3">
        <a href="{{ path("login") }}" class="col-6 text-info">Already an account ?</a>
    </div>

    {{ form_end(formUserRegistration) }}
</div>
{% endblock %}
{% block footer %}{%  endblock %}